<br>
<div class="container">
    <h1>Entre em contacto</h1>
    <hr>
    <form>
        <div class="row">
        
        <div class="col-75">
            <input type="text" id="fname" name="Nome Completo" placeholder="Nome Completo">
        </div>
        </div>
        <div class="row">
        <div class="col-25">
        </div>
        <div class="col-75">
            <input type="text" id="lname" name="Telefone" placeholder="Telefone">
        </div>
        </div>
        <div class="row">
            <div class="col-25">
            </div>
            <div class="col-75">
            <input type="text" id="femail" name="Email" placeholder="Email">
            </div>
        </div>
        <div class="row">
        <div class="col-25">
        </div>
        <div class="col-75">
            
        </div>
        </div>
        <div class="row">
            <div class="col-25">
            </div>
            <div class="col-75">
            <input type="text" id="fassunto" name="Assunto" placeholder="Assunto">
            </div>
        </div>
        <div class="row">
         
        </div>
        <div class="row">
            <div class="col-25">
            </div>
  
        <div class="col-75">
            <textarea id="Mensagem" name="Mensagem" placeholder="Deixe uma mensagem.." style="height:200px"></textarea>
        </div>
        </div>
        <br>
        <div class="row">
        <input type="submit" value="Submit">
        </div>
    </form>
  </div>
