<form class="container">
  <div class="mb-3">
    <label for="name" class="form-label">User Name</label>
    <input [(ngModel)]="requestRegister.name" type="text" class="form-control" id="name" name="name" aria-describedby="name">
    <div id="name" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input [(ngModel)]="requestRegister.email" type="email" class="form-control" id="email" name="email" aria-describedby="email">
    <div id="email" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="requestRegister.password" type="password" class="form-control" id="password" name="password" aria-describedby="password">
  </div>
  <br>
  <button (click)="doRegister()" type="submit" class="btn btn-primary">Register</button>
  <br><br>
  <a href="">Login aqui!!</a>
</form>