<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!---- row--Lista--de-informações---->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Sobre nós</h3>
            <p> Somos uma empresa de venda de Automóveis usados desde 2017.</p>
            <ul class="footer-links">
              <li><a href="#"><i class="fa fa-map-marker"></i>6200.201</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+351-407-409-401</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i>jjm@jjm.pt</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categorias</h3>
            <ul class="footer-links">
              <li><a href="#">Carrinha</a></li>
              <li><a href="#">Caminhões</a></li>
              <li><a href="#">Carro de Luxo</a></li>
              <li><a href="#">Acessorios</a></li>
              <li><a href="#">Encomendas</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Informação</h3>
            <ul class="footer-links">
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Entrar em Contacto</a></li>
              <li><a href="#">Politica de Privacidade</a></li>
              <li><a href="#">Pedidos e devoluções</a></li>
              <li><a href="#">Termos e Condições</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Serviços</h3>
            <ul class="footer-links">
              <li><a href="#">Conectar-se</a></li>
              <li><a href="#">Ver Carrinho</a></li>
              <li><a href="#">Desejos</a></li>
              <li><a href="#">Localizar meu pedido</a></li>
              <li><a href="#">Ajuda</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <ul class="footer-payments">
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
          <span class="copyright">
						<!-- O link de volta para Colorlib não pode ser removido. O modelo é licenciado sob CC BY 3.0. -->
								Copyright &copy;<script>document.write(new Date().getFullYear());</script> 2021| JJM <i class="fa fa-heart-o" aria-hidden="true"></i>  <a href="#" target="_blank"> </a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
