
<div class="container">
  <h1>VENDA CÁ O SEU AUTOMÓVEL</h1>
  <hr>
    <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Nome Completo</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="Nome Completo" placeholder="Introduz o seu nome completo..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Telefone</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="Telefone" placeholder="Introduz o seu contacto telefónico..">
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="femail">Email</label>
        </div>
        <div class="col-75">
          <input type="text" id="femail" name="Email" placeholder="Introduz o seu Email..">
        </div>
      </div>
    <div class="row">
      <div class="col-25">
        <label for="Marca">Marca</label>
      </div>
      <div class="col-75">
        <select id="Marca" name="Marca">
          <option value="BMW">BMW</option>
          <option value="AUDI">AUDI</option>
          <option value="TOYOTA">TOYOTA</option>
        </select>
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="fmodelo">Modelo</label>
        </div>
        <div class="col-75">
          <input type="text" id="fmodelo" name="Modelo" placeholder="Introduz o modelo..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fmatricula">Matrícula</label>
        </div>
        <div class="col-75">
          <input type="text" id="fmatricula" name="Matrícula" placeholder="Introduz a matrícula..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fano">Ano do automóvel</label>
        </div>
        <div class="col-75">
          <input type="text" id="fano" name="Ano do automóvel" placeholder="Introduz o ano do automóvel..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fkms">Kms</label>
        </div>
        <div class="col-75">
          <input type="text" id="fkms" name="Kms" placeholder="Introduz a Kms..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fcombustível">Combustível</label>
        </div>
        <div class="col-75">
          <input type="text" id="fcombustivel" name="Combustível" placeholder="Introduz o tipo de Combustível..">
        </div>
      </div>
    <div class="row">
      <div class="col-25">
        <label for="Mensagem">Mensagem</label>
      </div>
      <div class="col-75">
        <textarea id="Mensagem" name="Mensagem" placeholder="Deixe uma mensagem.." style="height:200px"></textarea>
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
