<form class="container">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input [(ngModel)]="requestVenda.username" type="text" class="form-control" id="username" name="username" aria-describedby="username">
    <div id="name" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input [(ngModel)]="requestVenda.email" type="email" class="form-control" id="email" name="email" aria-describedby="email">
    <div id="email" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="telefone" class="form-label">telefone</label>
    <input [(ngModel)]="requestVenda.telefone" type="telefone" class="form-control" id="telefone" name="telefone" aria-describedby="telefone">
  </div>
  <div class="mb-3">
    <label for="marca" class="form-label">Marca do Carro</label>
    <input [(ngModel)]="requestVenda.marca" type="marca" class="form-control" id="marca" name="marca" aria-describedby="marca">
  </div>
  <div class="mb-3">
    <label for="modelo" class="form-label">Marca do Carro</label>
    <input [(ngModel)]="requestVenda.modelo" type="modelo" class="form-control" id="modelo" name="modelo" aria-describedby="modelo">
  </div>
  <div class="mb-3">
    <label for="combustivel" class="form-label">Combustivel</label>
    <input [(ngModel)]="requestVenda.combustivel" type="combustivel" class="form-control" id="combustivel" name="combustivel" aria-describedby="combustivel">
  </div>
  <br>
  <button (click)="doRegister()" type="submit" class="btn btn-primary">Register</button>
  <br><br>
  <a routerLink="/login">Login aqui!!</a>
</form>
<br>
<br>
<br>
<br>
<br>