<form class="container">
  <div class="mb-3">
    <label for="FullName" class="form-label">Full Name</label>
    <input [(ngModel)]="requestRegister.fullName" type="text" class="form-control" id="FullName" aria-describedby="FullName">
    <div id="FullName" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input [(ngModel)]="requestRegister.email" type="email" class="form-control" id="email" aria-describedby="email">
    <div id="email" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="requestRegister.password" type="password" class="form-control" id="password">
  </div>
  <br>
  <button (click)="doRegister()" type="submit" class="btn btn-primary">Register</button>
  <br><br>
  <a href="">Regista-te aqui!</a>
</form>
