
<!----ÍNICIO- MENU PRINCIPAL DO SISTEMA -->
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <a routerLink="/" mat-button><mat-icon> home </mat-icon> Home </a> <!--routerLink: instrução de hiperligação (Link - como se fosse o href ="") para chamar a página home, assim que for clicado, logo, vai demonstrar os conteúdos da mesma -->
            <a routerLink="/sobre" mat-button><mat-icon> info </mat-icon> Sobre </a>
            <a routerLink="/oficina" mat-button><mat-icon> &#xf1b9; </mat-icon> Oficina </a>
            <a routerLink="/buy" mat-button><mat-icon> shopping_cart </mat-icon> Comprar </a>
            <a routerLink="/venda" mat-button><mat-icon> library_add </mat-icon> Vender </a>
            <a routerLink="/contato" mat-button><mat-icon> phone </mat-icon> Entra em contacto conosco </a>
            
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!--FIM--ÍNICIO- MENU PRINCIPAL DO SISTEMA -->